{% load static %}
<!-- vue import dev version. REPLACE BEFORE RELEASE -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script> -->
<link href="{% static 'mainApp/styles.css' %}" rel="stylesheet" />

<!-- Bulma + FontAwesome -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>


<!-- Background color -->
<header class="masthead">

  <div id="vue-target">

    <!-- TITLE -->
    <section class="section">
      <h1 style="color:white;" class="text-uppercase text-white font-weight-bold">Submit Anonymous Feedback </h1>
    </section>

    <section class="section">
      <div class="">
        {% csrf_token %}
        {{form.manager}}
        {{form.type_choice}}
        {{form.feedback}}
        {{form.submitted_by}}


        <!-- Manager Dropdown -->
        <div class="field">
          <div class="control">
            <div class="select is-danger is-rounded">
              <select v-model="selectedValue">
                <option value="Manager">Select Manager</option>
                {% block content %}
                {% for manager in managers %}
                  <option v-model="managerChoice" value="manager">{{manager.first_name}} {{manager.last_name}}</option>
                {% endfor %}
              
                
              </select>
            </div>
          </div>
        </div>

        <!-- Issue type dropdown -->
        <div v-if="selectedValue !== 'Manager'" class="field">
          <div class="control">
            <div class="select is-danger is-rounded">
              <select v-model="selectedValue2">
                <option value="Type of Issue">Select Type of Issue</option>
                
                {% for choice in type_choice %}
                  <option value="issue">{{choice.0}}</option>
                {% endfor %}
              {% endblock content %}
              </select>
            </div>
          </div>
        </div>


        <!-- Feedback submission box -->
        <div v-if="(selectedValue2 !== 'Type of Issue')&(selectedValue !== 'Manager')" class="is-fullwidth">
          <div class="field">
            <textarea v-model="feedback_text" class="textarea is-fullwidth"
              placeholder="Enter feedback here"></textarea>
          </div>

          <button v-bind:disabled="feedback_text.trim().length == 0"
            class="button is-danger is-rounded is-size-6">Submit</button>
          <!--
          <button  
              style="
              border: 1px solid #fc0000;
              border-radius: 24.5rem;
              border-top-left-radius: 24.5rem;
              border-top-right-radius: 24.5rem;
              border-bottom-right-radius: 24.5rem;
              border-bottom-left-radius: 24.5rem;
              font-weight: 600;
              "@click="post" class="button is-size-6">Submit
          </button>
          -->
        </div>


        <!-- button + fontawesome reference
        <div>
          <button @click="switchPost" v-if="!showPosts" class="button is-primary is-size-6">
            <i class="fa fa-plus fa-fw"></i>
          </button>
        </div>
         -->


      </div>
    </section>


  </div>
</header>

  <script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#vue-target',
      data: {
        selectedValue: "Manager",
        selectedValue2: "Type of Issue",
        showSecond: false,
        showTextBox: false,
        feedback_text: "",
      },
      methods: {
        onChange: function (event) {
          console.log(this.selectedValue);
        },
        showSecondFunction: function () {
          app.showSecond = true;
        },
        showTextBoxFunction: function () {
          app.showTextBox = true;
        }
      }
    });
  </script>


<script>

</script>